extends layout

block stylesheet
    link(rel="stylesheet", href="/stylesheets/accueil.css")
    script(type="text/javascript" src="/javascripts/accueil.js")

block content
    div#logo
        img(src="/images/html-css-js.png")
    
    article
        h1 Questionnaire sur le web
        p.
            Ce site web permet au gens de tester leurs connaissances théoriques 
            sur les technologies du Web 2.0.

        h2 Détails ...
        p.
            L'ensemble des questions qui seront posées porteront sur HTML5, 
            CSS3 et Javascript.

        a.button(href="/tableauBord") Commencer l'aventure
