extends layout

block stylesheet
    link(rel="stylesheet", href="/stylesheets/instruction.css")



block content
    section
      h1 Ajouter une question
      form
        section
          h2 Question
          input(type="text" placeholder="Enter Question" required)
        section
          h2 Réponses
          div(class="allReponses")
            - var n = 1
            while n < 4
              div
              input(type="text" placeholder="Réponse #{n++}" required)
              input(type="radio" name="answer")

          a(href="#" class="ajouterReponse") Ajouter une réponse

          input(type="submit" value="Ajouter Question")
          
    script(type="text/javascript" src="/javascripts/ajouterQuestion.js")