if title != "WebQuiz"
  section(id="lightbox")
    a(href="#", class="close_msg")
      ul(id="examens") Résultats détaillés des examens
        li 
  aside(class= "stats")
    h1 Statistiques
      if title == "Examen"
        section
          h2 Note cumulative de l'examen
          p(id= "CourantExamen") 
      else if title == "Test Rapide"    
        section
          h2 Note courante du test rapide
          p(id= "CourantTestRapide")
      else 
        section
          h2 Note cumulative du test rapide
          p(id= "CumulTestRapide") 
        section
          h2 Note moyenne de l'examen
          p(id= "CumulExamen")
        p: a(href="#lightbox", class="bouton") Voir détails
        p: button(id= "reset_it") Remise à zéro 
