aside(class= "stats")
  h1 Statistiques
  
    section(id= "CumulTestRapide") 
      h2 
      p
    section(id= "CumulExamen")
      h2 
      p
    section(id= "noteCouranteTest")
      h2
      p
    section(id= "noteCouranteExam")
      h2
      p
    p: a(href="#modal-one" class="bouton") Voir détails
    p: button(id= "reset_it") Remise à zéro