if title != "WebQuiz"
  section(id="lightbox")
    a(href="#", class="close_msg")
      ul
        li Résultats détaillés des examens
  aside(class= "stats")
    h1 Statistiques
      if title == "Mon tableau de bord"
        section(id= "CumulTestRapide") 
          h2 Note cumulative Test Rapide
          p
        section(id= "CumulExamen")
          h2 Note moyenne Examen
          p
        p: a(href="#lightbox", class="bouton") Voir détails
        p: button(id= "reset_it") Remise à zéro  
      else if title == "Test Rapide"    
        section(id= "noteCouranteTest")
          h2 Note courante Test Rapide
          p
      else 
        section(id= "noteCouranteExam")
          h2 Note courante Examen
          p
