extends layout

block content
  section(class= "maSection")
    h2(id="numQuestion") Question
    fieldset
      p= question.question
      form(method="post")
        each reponse,index in question.reponses
          div(class="radio")
            label
              input(type="radio" name="optionsRadios" id="optionsRadios#{index}" value="#{index}") 
              | #{reponse}
    a(href="tableauDeBord" class="bouton") Abandonner
    a(href="#" id="correction" class="bouton") Corriger
    a(href="#" class="bouton" hidden) Question Suivante
    a(href="#" class="bouton" hidden) Fin Questionnaire