extends layout

block content
  div(class="row")
    div(class="col-md-6")
      img(src="images/quiz.jpg" id="imageAccueil")
    div(class="col-md-6")
      article
        h1 Bienvenue au Questionnaire sur le Web!
        p Ce site web permet de tester vos connaissances théoriques sur les technologies du Web 2.0.
        h2 Testez vos connaissances!
        p L'ensemble des questions qui seront posées porteront sur HTML5, CSS3 et Javascript.
        a(href="/tableauDeBord" class="bouton") Commencer 