extends layout

block content
  h1 Fin de l'examen
  section
    h2 Résultat
    p(id="messageResultat")
  section
    h2 Note finale
    p(id="note") /#{nbQuestions}

  section
    a(href="tableauDeBord" class="bouton") Retour au menu

  div(class="mesDomaines" hidden)= tableauDomaines