extends layout

block content
  section(class="maSection")
    h2 Question
    fieldset

      p= question.question
      form(method="post")
        each reponse,index in question.reponses
          div(class="radio")
            label
              input(type="radio" name="optionsRadios" id="optionsRadios#{index}" value="#{index}") 
              | #{reponse}
        a(href="tableauDeBord" class="bouton") Abandonner
        // a(href="#" id="correction" class="bouton") Corriger
        input(type="submit" value="Question Suivante" id="correction" class="bouton")
  
  div(class="reponse")  question.bonneReponse
