html {
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 90px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F3F4F5 ;
}

.contenu{
  padding:15px;
}



/* Text font and color */

h1 {
  color: #475673; 
  }
  
h2 {
 color: #475673; 
 font-size: 26px;
 margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*
  Me permet de coller le footer en bas de page
 */
.footer {
  background:#CECECE;
  color: #475673; 
  bottom: 0;
  height: 90px;
  position: absolute;
  width: 100%;
  text-align: center;
}
.container {
  padding: 0px;
  width: auto;
}
/*
  Texte dans le footer
 */
.container .text-muted {
  margin: 20px 0;
}

/*
  Taille des images
 */
#imageAccueil{
  width: 500px;
}

#imageInstructions{
  width: 300px;
} 

a {
  color: #00B7FF;
}

/*

  Tableau de bord

*/
.maSection{
  margin-bottom: 50px;
  background-color:  #A5BBCF;
  padding: 20px;
  padding-bottom: 60px;
  border-radius:10px;
}

img{
  border-radius:10px;
}

/*

  Menu

*/
.menu {
  background: #f96e5b;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  line-height: 1;
  display: block;
  zoom: 1;
}
.menu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.menu ul li {
 /* display: inline-block; */
  padding: 0;
  margin: 0;
}
.menu.align-right ul li {
  float: right;
}
.menu.align-center ul {
  text-align: center;
}
.menu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  padding: 15px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  transition: color .25s;
  transition: color .25s;
  transition: color .25s;
  transition: color .25s;
  transition: color .25s;
}

.menu ul li a:hover {
  color: #475673;
  background: #f96e5b;
}

.menu ul li a:hover:before {
  width: 100%;
}
.menu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #FFFFFF;
  opacity: .5;
}
.menu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #475673;
  transition: width .25s;
  transition: width .25s;
  transition: width .25s;
  transition: width .25s;
  transition: width .25s;
}
.menu ul li.last > a:after,
.menu ul li:last-child > a:after {
  display: none;
}
.menu ul li.active a {
  color: #475673;
}
.menu ul li.active a:before {
  width: 100%;
}
.menu.align-right li.last > a:after,
.menu.align-right li:last-child > a:after {
  display: block;
}
.menu.align-right li:first-child a:after {
  display: none;
}


/* Bouton */ 

.bouton {
  border-radius: 5;
  border-radius: 5;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  background: #f96e5b;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  position: relative;
  top: 15px;
  margin-botton: 15px;
 }

.bouton:hover {
  background: #fb998c;
  text-decoration: none;
}

.bouton ~ .bouton {
  margin-left: 10px;
}

/* Barre statistiques */
aside {
  display: block;
  background-color:#6C7B92;
  position: fixed;
  right: 0%;
  border-radius: 10px 0 0 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  padding: 36px;
}

aside p {
  color: #ffffff;
  margin-bottom: 20px;
}

aside h1 {
  color: #fb998c;
  margin-bottom: 10px;
  font-size: 30px;
}

aside h2 {
  color: #D6E0E9;
  margin-top: 20px;
  font-size: 18px;
}


aside button {
 border-radius: 5;
 border-radius: 5;
 border-radius: 5px;
 font-family: 'Open Sans', sans-serif;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 14px;
 margin-top: 30px; 
 color: #475673;
 padding: 10px 10px 10px 10px;
}

aside button:hover {
  color: #607eb7;
}



/*     DEBUT FENETRE MODAL         */


section#lightbox {
    display: none;
}

section#lightbox:target {
    display: block;
}

section#lightbox ul {
    position: absolute;
    top: 100px;
    right: 1%;
    left: 1%;
    color: #475673;
    list-style: none;
    height: 500px;
    width: 360px;
    margin: 0px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    overflow: scroll;
}

section#lightbox li:first-child {
    font-size: 20px;
    border-bottom: 3px solid #807d7d;
    margin-bottom: 20px;
    text-align: center;
}

section#lightbox li {
    margin: 10px 0;
}

.close_msg::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.85;
  
/* FIN FENETRE MODAL */


/* Responsive design format tablette */

@media screen and (max-width: 768px) {
  aside {
    clear: both;
    position: inherit;
    /*bottom:-30px;*/
    border-radius: 10px 10px 10px 10px;
    /*width: 96%;*/
  }
}