extends layout

block content
  section(class="row")
    div(class="col-md-4")
      img(src="images/icon.png" id="imageInstructions")
    div(class="col-md-8")
      h2 Détails
      p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed auctor eros. Duis enim justo, venenatis fringilla egestas eu, molestie sit amet diam. Nullam accumsan nulla tristique velit lacinia, ut eleifend ipsum blandit. Curabitur vehicula dictum erat, non dictum ex tristique id. Donec non nulla vel metus molestie mattis. Nulla semper accumsan felis, ac rhoncus lacus ullamcorper vitae. Cras rhoncus dapibus dolor vel maximus. Sed imperdiet consequat tincidunt. Aliquam erat volutpat. Quisque in tortor non dolor porta rhoncus sit amet eu erat. Proin a nisl varius, dapibus lacus vel, lobortis enim. Donec quis leo vel lectus convallis laoreet ut ac nulla. Vestibulum euismod hendrerit massa vel consectetur. 
      a(href="/" class="bouton") Retour Accueil