div#logo {
	width: 530px;
	height: 202px;
	margin: 30px auto;
}

article h1 {
	color: rgb(50,48,0);
	text-align: center;
	font-size: 2.2em;
	text-transform: uppercase;
}

article h2 {
	color: rgb(50, 48, 0);
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}

article p {
	padding: 25px 0 50px 0;
	text-align: center;
}
