extends layout

block stylesheet
    link(rel="stylesheet", href="/stylesheets/ajouterQuestion.css")
    script(type="text/javascript" src="/javascripts/ajouterQuestion.js")

block content
    h1 Ajouter une question

    form(method="post" action="/ajouterQuestion")
        p Remplissez les champs pour créer une nouvelle question.

        p Domaine de la question:
            label(for="html")
                input(type="radio", name="domain", value="HTML", checked)
                |HTML5
            label(for="css")
                input(type="radio", name="domain", value="CSS")
                |CSS3
            label(for="js")
                input(type="radio", name="domain", value="Javascript")
                |Javascript

        p Question à poser: 
            input(type="text", name="question", required)

        p Réponses possibles à la question:
            input(type="text", name="answer", required)
            a#ajouter.button Ajouter
            a#supprimer.button Supprimer

        p Index de la bonne réponse: 
            input(type="number", name="goodAnswer", min="1", max="1", value="1")

        input#envoye.button(type="submit", value="Enregistrer la question")