extends layout

block stylesheet
    link(rel="stylesheet", href="/stylesheets/ajouterQuestion.css")
    script(type="text/javascript" src="/javascripts/essaiAjoutNoteBD.js")

block content
    h1 Tester l'ajout des notes d'examens à la BD

    form(method="post" action="/examenTermine")
        //p Remplissez les champs pour créer une nouvelle question.

        //p Domaine de la question:
            label(for="html")
                input(type="radio", name="domains", value="HTML", checked)
                |HTML5
            label(for="css")
                input(type="radio", name="domains", value="CSS")
                |CSS3
            label(for="js")
                input(type="radio", name="domains", value="Javascript")
                |Javascript          

        //p Question à poser: 
            input(type="text", name="question", required)

        p Domains:
            input(type="text", name="domains", required)
            a#ajouter.button Ajouter
            a#supprimer.button Supprimer

        p goodAnswers:
            input(type="number", name="goodAnswers")
            
        p totalAnswers:
            input(type="number", name="totalAnswers")

        input#envoye.button(type="submit", value="Enregistrer les résultats")