extends layout

block stylesheet
    link(rel="stylesheet", href="/stylesheets/tableauBord.css")
    script(type="text/javascript" src="/javascripts/utility.js")
    script(type="text/javascript" src="/javascripts/tableauBord.js")

block content
    div(ng-app="monApp")
        div(ng-controller="tdb")
            section#lightbox
                a.close_msg(href="#")
                ul
                    li Résultats détaillés des examens

            section#main
                h1 Menu Personnel
                section
                    div#testrapide
                        h2 Début d'un test rapide.
                        a.button(href="/question") Test rapide

                    div#examen
                        h2 Début d'un examen officiel
                        form(method="post" action="/questionExamen")
                            p Choisissez le domaine des questions.
                            label(for="html")
                                input(type="checkbox", name="domain", value="HTML" ng-click="disable()" )
                                |HTML5
                            label(for="css")
                                input(type="checkbox", name="domain", value="CSS" ng-click="disable()" )
                                |CSS3
                            label(for="js")
                                input(type="checkbox", name="domain", value="JS" ng-click="disable()" )
                                |Javascript

                            p Choisissez le nombre de questions.
                            input(type="number", name="numQuestions", min="1", max="999", value="1")

                            input.button(type="submit", value="Examen officiel" ng-disabled="disabled")
                aside
                    h2 Statistiques
                    section
                        p Note cummulative test rapide :
                        p
                            span#quickTestGood 0 
                            |/ 
                            span#quickTestTotal 0
                    section
                        p Note moyenne des examens :
                        p#examAverage ---
                    p
                        a.button(href="#lightbox") Voir détails ...
                    p
                        a#reset.button(href="/tableauBord") Remise à zéro
